<ion-header>
  <ion-title>
    Bienvenido {{ username }}
  </ion-title>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col sizeLg="6" sizeMd="12" sizeXs="12">
      <ion-card>
        <img src="../../assets/img-rpg/final-fantasy.jpg" />
        <ion-card-header>
          <ion-card-title>Final Fantasy VII Remake</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Final Fantasy VII Remake es un juego de rol y acción que reimagina el clásico de 1997, siguiendo a Cloud
          Strife y sus compañeros en su lucha contra la megacorporación Shinra.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="../../assets/img-rpg/kingdom-hearts.jpg" />
        <ion-card-header>
          <ion-card-title>Kingdom Hearts 3</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Kingdom Hearts 3 es un juego de rol y acción que combina personajes de Disney y Final Fantasy, siguiendo a
          Sora y sus amigos en una aventura para detener a la oscuridad.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="../../assets/img-rpg/thewitcher.jpg" />
        <ion-card-header>
          <ion-card-title>The Witcher III</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          The Witcher 3 es un juego de rol y acción en mundo abierto, donde el cazador de monstruos Geralt de Rivia
          busca a su hija adoptiva mientras enfrenta amenazas sobrenaturales.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>