<ion-header>
  <ion-toolbar>
    <div class="header-content">
      <ion-title class="welcome-title">
        Bienvenido {{ username }}
      </ion-title>
      <div class="icon-container">
        <ion-icon name="text"></ion-icon>
        <ion-icon name="add-circle-outline" (click)="zoomIn()"></ion-icon>
        <ion-icon name="remove-circle-outline" (click)="zoomOut()"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col sizeLg="6" sizeMd="12" sizeXs="12">
      <ion-card [routerLink]="['/sims']">
        <img src="../../assets/img-simulacion/sims4.jpg" />
        <ion-card-header>
          <ion-card-title>The Sims 4</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          The Sims 4 es un juego de simulación de vida donde los jugadores crean y gestionan personajes, hogares y sus
          actividades diarias en un entorno virtual.
        </ion-card-content>
      </ion-card>
      <ion-card [routerLink]="['/houseflipper']">
        <img src="../../assets/img-simulacion/housefliper.jpg" />
        <ion-card-header>
          <ion-card-title>House Flipper</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          House Flipper es un juego de simulación que permite a los jugadores comprar, renovar y vender casas,
          gestionando todos los aspectos de las mejoras y decoraciones.
        </ion-card-content>
      </ion-card>
      <ion-card [routerLink]="['/farmingsimulator']">
        <img src="../../assets/img-simulacion/farmingsimulator.jpg" />
        <ion-card-header>
          <ion-card-title>Farming Simulator 22</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Farming Simulator 22 es un juego de simulación agrícola donde los jugadores gestionan una granja, cultivando
          tierras, criando animales y manejando maquinaria agrícola realista.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>