.logo {
  display: block;
  margin: 0 auto 20px auto;
  width: 500px; 
  height: auto;
}

.description {
  text-align: center;
  margin: 15px 0;
  font-size: 16px;
}

.details {
  text-align: center;
  margin: 15px 0;
  font-size: 14px;
  color: #666;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.rating ion-icon {
  color: #FFD700; 
  font-size: 24px;
}

.rating-number {
  margin-left: 10px;
  font-size: 18px;
  color: #333;
}

iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

ion-title {
  font-weight: bold; 
}

ion-header {
  text-align: center; 
  padding: 0; 
  margin-bottom: 10px; 
}

ion-toolbar {
  display: flex;
  justify-content: center; 
}

.header-content {
  display: flex;
  align-items: center; 
}

.welcome-title {
  font-weight: bold; 
  margin: 0 auto; 
}

.icon-container {
  display: flex;
  align-items: center;
  margin-left: auto; 
}

.icon-container ion-icon {
  font-size: 1.2rem; 
  cursor: pointer;
  margin-left: 8px; 
  color: inherit; 
}


.zoom-animation {
  transition: font-size 0.3s ease-in-out;
}

ion-card {
  margin-bottom: 20px; 
  max-width: 800px; 
}

ion-card img {
  width: 100%; 
  height: auto; 
}

ion-card-title {
  font-weight: bold; 
  text-align: center; 
}

ion-card-content {
  padding: 16px; 
  text-align: center; 
}
