<ion-header>
  <ion-title>
    Bienvenido {{ username }}
  </ion-title>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col sizeLg="6" sizeMd="12" sizeXs="12">
      <ion-card [routerLink]="['/red-dead']">
        <img src="../../assets/img-mundo-abierto/red-dead.jpg" />
        <ion-card-header>
          <ion-card-title>Red Dead Redemption 2</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Red Dead Redemption 2 es un juego de acción y aventura en mundo abierto que narra la historia del forajido
          Arthur Morgan en el ocaso del Viejo Oeste.
        </ion-card-content>
      </ion-card>
      <ion-card [routerLink]="['/elden-ring']">
        <img src="../../assets/img-mundo-abierto/elden-ring.jpg" />
        <ion-card-header>
          <ion-card-title>Elden Ring</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Elden Ring es un juego de rol y acción en mundo abierto, desarrollado por FromSoftware, que combina
          exploración libre con combates desafiantes en un mundo de fantasía oscura.
        </ion-card-content>
      </ion-card>
      <ion-card [routerLink]="['/horizon']">
        <img src="../../assets/img-mundo-abierto/horizonzero.jpg" />
        <ion-card-header>
          <ion-card-title>Horizon Zero Dawn</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Horizon Zero Dawn es un juego de acción y aventura en mundo abierto, donde la cazadora Aloy explora un mundo
          postapocalíptico dominado por máquinas.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>